<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{title}}</title>
  </head>
  <body>

<!--
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
   data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Добавить новости</a></li>
      <li class="nav-item"><a class="nav-link" href="/">О сайте</a></li>
    </ul>
  </div>
</nav>
-->




<!-- Новый нав бар -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home'%}">News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home'%}">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home'%}">Добавить новости</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Категория новостей
        </a>
          {% for c in xxx %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if c.pk == 1 %}
          <a class="dropdown-item" href="{%url 'category' c.pk%}">{{c.title}}</a>
        {% elif c.pk == 2 %}
          <a class="dropdown-item" href="{%url 'category' c.pk%}">{{c.title}}</a>
          {% elif c.pk == 3 %}
          <a class="dropdown-item" href="{%url 'category' c.pk%}">{{c.title}}</a>
          {% elif c.pk == 4 %}
          <a class="dropdown-item" href="{%url 'category' c.pk%}">{{c.title}}</a>
          {%endif%}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
          {%endfor%}
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>
<!-- Новый нав бар -->

<div class="container mb-3">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {%for c in categories %}
                <a href="{% url 'category' c.pk%}" class="list-group-item list-group-item-action">{{c.title}}</a>
            <!--<a href="/category/{{ c.pk}}" class="list-group-item list-group-item-action">{{c.title}}</a> -->
                {%endfor%}
            </div>
        </div>

        <div class="col-md-9">
        {%for n in news %}
<div class="card mb-3">
  <div class="card-header">
    Категория:  <a href="{% url 'category' n.category.pk %}">{{n.category}}</a>
  </div>
  <div class="card-body">
    <div class="media">
     {% if n.photo %}
     <img src="{{n.photo.url}}" alt="">
     {% endif %}

     <div class="media-body">
    <h5 class="card-title">{{n.title}}</h5>
    <p class="card-text">{{n.content|linebreaks|truncatewords:50}}</p>
    <a href="#" class="btn btn-primary">Прочитать ...</a>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{n.created_at|date:"Y-m-d H:m:s"}}
  </div>
</div>
        {%endfor%}
            </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
  </body>
</html>